<head lang="en">
    <meta charset="UTF-8">
    <title>Analytics</title>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/simple-sidebar.css" type="text/css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

</head>

{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            {% for id, unit in plots.items() %}
            <a id="region-switch" graphs="{{ unit['graphs'] }}"
                class="list-group-item list-group-item-action bg-light">{{
                unit["unit_label"]
                }}</a>
            {% endfor %}
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
    </div>
</div>
<!-- /#page-content-wrapper -->

</div>

<script>
    $("#region-switch").click(function (e) {
        e.preventDefault();
        var graphs = e.target.getAttribute("graphs");
        $("#page-content-wrapper").load("/region-cards.html", { 'plot': graphs })
    });  

    $("#plot-switch").click(function (e) {
        e.preventDefault();
        var jsonGraph = e.target.getAttribute("jsonGraph");
        console.log(jsonGraph);
        $("#page-content-wrapper").load("/region-graph.html", { 'plot': jsonGraph })
    });
</script>

{% endblock %}