<head lang="en">
    <meta charset="UTF-8">
    <title>Analytics</title>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/simple-sidebar.css" type="text/css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>

{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            {% for unit in units %}
            <a href="?unit={{ unit['_id'] }}" class="list-group-item list-group-item-action bg-light">{{ unit['label'] }}</a>
            {% endfor %}
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        {% if not plot %}
        <!-- <div class="container-fluid"> -->
        {% for graph in unit["graphs"] %}
        <div class="card" style="width: 20rem;" id="{{unit_id}}">
            <img class="card-img-top" src="{{ graph.get('img') }}">
            <!--alt="Card image cap" -->
            <div class="card-block">
                <h4 class="card-title">{{ graph.get("title", "Title not available") }}</h4>
                <p class="card-text">{{ graph.get("description", "Description not available") }}</p>
                <a href="?unit={{unit['_id']}}&type={{graph.get('type', None)}}" class="btn btn-primary">View</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="container-fluid">
            <div id="bargraph">
                <script>
                    var graphs = {{ plot | safe}};
                    Plotly.plot('bargraph', graphs, {});
                </script>
            </div>
        </div>
        {% endif %}
    </div>
    <!-- /#page-content-wrapper -->

</div>


{% endblock %}