<head lang="en">
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

{% extends "layout.html" %}
{% block title %}{% endblock %}

{% block content %}


<div id="page-content-wrapper">
    <div class="container-fluid">

        {% for index, graph in enumerate(graphs) %}
        
        <div class="row-fluid">
            <div class="col-sm-auto">
            {% if graph.get("chartType", "") != "log" %}
            
                <div id="bargraph-{{index}}">
                    <script>
                        var graph = {{ graph.get("graph", "") | safe }};
                        Plotly.plot('bargraph-{{index}}', graph, {});
                    </script>
                </div>
            </div>

            {% else %}

            <h3>{{graph.get("title", "")}}</h3>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in plot %}
                        <tr>
                            <td>{{ list(item.keys())[0] }}</td>
                            <td>{{ list(item.values())[0] }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
        {% endfor %}

    </div>
</div>




{% endblock %}