<head lang="en">
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

{% extends "layout.html" %}
{% block title %}{% endblock %}

{% block content %}

<div id="page-content-wrapper">
    <div class="container-fluid">

        {% if not plot %}
        <div class="row">
            {% for graph in graphs %}
            <div class="col-sm">
                <a href="{{ url_for('dashboard', chart_index=graphs.index(graph)) }}">
                    <div class="card">
                        <img class="card-img-top" src="{{ graph.get('img') }}">
                        <!--alt="Card image cap" -->
                        <div class="card-block">
                            <h4 class="card-title">{{ graph.get("title") }} </h4>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% elif plot_type != "log" %}
        <div id="bargraph">
            <script>
                var graphs = {{ plot | safe }};
                Plotly.plot('bargraph', graphs, {});
            </script>
        </div>
        {% else %}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Time</th>
                <th scope="col">Information</th>
              </tr>
            </thead>
            <tbody>
            {% for item in plot %}
              <tr>
                <td>{{ list(item.keys())[0] }}</td>
                <td>{{ list(item.values())[0] }} </td>
              </tr>
             {% endfor %}
            </tbody>
          </table>
        {% endif %}
    </div>
</div>




{% endblock %}