<head lang="en">
    <meta charset="UTF-8">
    <title>Data Products</title>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Data Products</div>
        <div class="list-group list-group-flush">
            {% for dp in dps %}
            <a href="{{ url_for('dps', dp_id= dp['_id'] ) }}" class="list-group-item list-group-item-action bg-light">{{
                dp["label"]
                }}</a>
            {% endfor %}
        </div>
    </div>
    <!-- /#sidebar-wrapper -->


    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingDescription">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseDescription"
                                aria-expanded="true" aria-controls="collapseDescription">
                                Product Description
                            </button>
                        </h5>
                    </div>

                    <div id="collapseDescription" class="collapse show" aria-labelledby="headingDescription"
                        data-parent="#accordion">
                        <div class="card-body">
                            <p><b>Region:</b> {{ dp["region"] }}</p>
                            <p><b>GraphQL Endpoint:</b> {{ dp["interfaces"]["graphql"] }}</p>
                            <p><b>Data Catalog:</b> {{ dp["interfaces"]["catalog"] }}</p>
                            <p><b>Streams:</b> {{ dp["interfaces"].get("streams", "Not available") }}</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingDashboards">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseDashboards"
                                aria-expanded="true" aria-controls="collapseDashboards">
                                Dashboards
                            </button>
                        </h5>
                    </div>

                    <div id="collapseDashboards" class="collapse show" aria-labelledby="headingDashboards"
                        data-parent="#accordion">
                        <div class="card-body">

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingFiles">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFiles"
                                aria-expanded="true" aria-controls="collapseFiles">
                                Files
                            </button>
                        </h5>
                    </div>

                    <div id="collapseFiles" class="collapse show" aria-labelledby="headingFiles"
                        data-parent="#accordion">
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Location</th>
                                        <th scope="col">Format</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for file in dp_files %}
                                    <tr>
                                        <td>{{ file["name"] }}</td>
                                        <td>{{ file["description"] }}</td>
                                        <td>
                                            {% if file['location'] != 'Not available' %}
                                            <a href="{{ url_for('download_from_s3', location=file['location']) }}">{{
                                                file['location'] }}</a>
                                            {% else %}
                                            {{ file['location'] }}
                                            {% endif %}
                                        </td>
                                        <td>{{ file["format"] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

    <script>
        (function (d) {

            stylizePreElements = function () {
                var preElements = document.getElementsByTagName("textarea");
                for (i = 0; i < preElements.length; ++i) {
                    var preElement = preElements[i];
                    preElement.className += "prettyprint";
                }
            };

            injectPrettifyScript = function () {
                var scriptElement = document.createElement('script');
                scriptElement.setAttribute("src", "https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js");
                document.head.appendChild(scriptElement);
            };

            stylizePreElements();
            injectPrettifyScript();

        })(document)
    </script>

</div>


{% endblock %}