<head lang="en">
    <meta charset="UTF-8">
    <title>Data Mesh Specification</title>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="../static/css/datamesh.css" type="text/css" rel="stylesheet">
</head>

{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}

<div class="d-flex" id="wrapper">

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="dm-description">
                <p><b>Gateway: </b></p>
                {% for region in dm["gateway"] %}
                <p class="indent1"><b>{{ region["region"] }}:</b> {{ region["url"] }}</p>
                {% endfor %}

                <p><b>Specifications:</b></p>
                <p class="indent1"><b>Security:</b> {{ dm["specifications"]["security"] }}</p>
                <p class="indent1"><b>Data Catalog:</b> {{ dm["specifications"]["dataCatalog"] }}</p>
                <p class="indent1"><b>Query API:</b> {{ dm["specifications"]["queryAPI"] }}</p>

                <p class="indent1"><b>Streaming:</b> {{ dm["specifications"]["streaming"]["description"] }}</p>
                <p class="indent2"><b>Technology:</b> {{ dm["specifications"]["streaming"]["technology"] }}</p>
                <p class="indent2"><b>Format:</b> {{ dm["specifications"]["streaming"]["format"] }}</p>
                <p class="indent2"><b>Global Analysis Stream:</b> {{ dm["specifications"]["streaming"]["globalAnalysis"]["description"] }}</p>
                <p class="indent2"><b>Fields:</b> {{ dm["specifications"]["streaming"]["globalAnalysis"]["fields"] }}</p>


                <p class="indent1"><b>Data Product Description:</b> {{ dm["specifications"]["dataProductDescription"]["description"] }}</p>
                <p class="indent2"><b>Format:</b> {{ dm["specifications"]["dataProductDescription"]["format"] }}</p>
                <p class="indent2"><b>Fields:</b> {{ dm["specifications"]["dataProductDescription"]["fields"] }}</p>

                <p class="indent1"><b>Platform Analysis:</b> {{ dm["specifications"]["plattformAnalysis"]["description"] }}</p>
                <p class="indent2"><b>Technology:</b> {{ dm["specifications"]["plattformAnalysis"]["technology"] }}</p>
                <p class="indent2"><b>Format:</b> {{ dm["specifications"]["plattformAnalysis"]["format"] }}</p>
                <p class="indent2"><b>Schema:</b> {{ dm["specifications"]["plattformAnalysis"]["schema"] }}</p>
                <p class="indent2"><b>Query Name:</b> {{ dm["specifications"]["plattformAnalysis"]["queryName"] }}</p>

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>


{% endblock %}