<!doctype html>
<html lang="en">

<head>
    <!--bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script type="text/javascript">
        $(document).ready(function () {
            $('dropdown-toggle').dropdown()
        });
    </script>

    <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet"
        href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />


</head>

<body>

    <!--bootstrap (GUI)-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('browser') }}">Data Browser <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('analytics') }}">Analytics <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
            
        </div>

        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">Data Plattform</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
            </ul>
        </div>

    </nav>

    {% block content %}

    {% endblock %}


    <script type="text/javascript" src="../static/bootstrap/jquery/jquery.slim.min.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>
    

</body>


</html>