<head lang="en">
    <meta charset="UTF-8">
    <title>Login</title>
</head>

{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">IAM log In</legend>
            <div class="form-group">
                {{ form.aws_access_key_id.label(class="form-control-label") }}
                {% if form.aws_access_key_id.errors %}
                {{ form.aws_access_key_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.aws_access_key_id.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.aws_access_key_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.aws_secret_access_key.label(class="form-control-label") }}
                {% if form.aws_secret_access_key.errors %}
                {{ form.aws_secret_access_key(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.aws_secret_access_key.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.aws_secret_access_key(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock content %}