{% if not plot %}
<!-- <div class="container-fluid"> -->
{% for graph in plots[unit_id]["graphs"] %}
<div class="card" style="width: 20rem;" id="{{unit_id}}">
    <img class="card-img-top" src="{{ graph.get('img') }}">
    <!--alt="Card image cap" -->
    <div class="card-block">
        <h4 class="card-title">{{ graph.get("title", "Title not available") }}</h4>
        <p class="card-text">{{ graph.get("description", "Description not available") }}</p>
        <a id="plot-switch" class="btn btn-primary">View</a>
    </div>
    {% endfor %}